In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# 1) Reading in data and inspecting it

In [3]:
oly_results = pd.read_csv("olympic_results.csv")

In [4]:
oly_results.describe()    #quick summary of all the columns

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
count,159020,159020,159020,159020,19879,7785,28742,155152,159020,153990,159020,126677,138332,75711,86859
unique,86,1489,52,2,3,6691,2,191,238,213,233,67027,74228,44009,9
top,Athletics,individual mixed,rio-2016,Athlete,BRONZE,"[('LETOT LETOT', 'https://olympics.com/en/athl...",True,9,United States of America,US,USA,https://olympics.com/en/athletes/heikki-savola...,Heikki SAVOLAINEN,same time,TIME
freq,19259,2731,7672,138332,6920,37,23559,8173,11656,11656,11656,34,34,99,41544

In [10]:
oly_results.head()       #first five rows of the datatable

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type,medal
0,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",False,1,Spain,ES,ESP,NaN,NaN,NaN,NaN,True
1,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,"[('Alessandra PERILLI', 'https://olympics.com/...",False,2,San Marino,SM,SMR,NaN,NaN,NaN,NaN,True
2,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,"[('Madelynn Ann BERNAU', 'https://olympics.com...",False,3,United States of America,US,USA,NaN,NaN,NaN,NaN,True
3,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",False,4,Slovakia,SK,SVK,NaN,NaN,NaN,NaN,False
4,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",False,5,Japan,JP,JPN,NaN,NaN,NaN,NaN,False

# 2) Removing Olympic Games before 1986

https://medium.com/fhsaplang/why-1986-changed-the-olympics-forever-b4aefb740199

In [32]:
oly_results["year"] = oly_results["slug_game"].str.split("-").str.get(-1)
oly_results["year"].unique()
#I'm not sure why 1990 and 1986

array(['2020', '2018', '2016', '2014', '2012', '2010', '2008', '2006',
       '2004', '2002', '2000', '1998', '1996', '1994', '1992', '1988',
       '1984', '1980', '1976', '1972', '1968', '1964', '1960', '1956',
       '1952', '1948', '1936', '1932', '1928', '1924', '1920', '1912',
       '1908', '1904', '1900', '1896'], dtype=object)

In [45]:
oly_results["year"] = oly_results["year"].astype(int)
oly_results = oly_results[oly_results.year >= 1986]

# 3) Adding data from the olympic_hosts.csv file

In [52]:
oly_hosts = pd.read_csv("olympic_hosts.csv")
oly_hosts.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
1,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
2,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
3,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014
4,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012

In [57]:
oly_hosts = oly_hosts.rename(columns={"game_slug":"slug_game"})
oly_hosts.head()

,slug_game,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
1,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
2,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
3,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014
4,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012

In [68]:
oly = pd.merge(oly_results, oly_hosts, how="left", on= "slug_game")

In [69]:
print(oly_results.shape)
print(oly.shape)
#so we keep all the rows, but add informational colums for oly_hosts

(90769, 17)
(90769, 23)

In [70]:
oly.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,...,value_unit,value_type,medal,year,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",False,1,Spain,ES,...,NaN,NaN,True,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
1,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,"[('Alessandra PERILLI', 'https://olympics.com/...",False,2,San Marino,SM,...,NaN,NaN,True,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,"[('Madelynn Ann BERNAU', 'https://olympics.com...",False,3,United States of America,US,...,NaN,NaN,True,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
3,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",False,4,Slovakia,SK,...,NaN,NaN,False,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
4,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",False,5,Japan,JP,...,NaN,NaN,False,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020

# 4) Recoding some country names

In [85]:
oly["country_name"].unique()

array(['Spain', 'San Marino', 'United States of America', 'Slovakia',
       'Japan', 'Australia', "People's Republic of China",
       'Great Britain', 'ROC', 'Italy', 'Mexico', 'Egypt', 'Belarus',
       'Islamic Republic of Iran', 'Switzerland', 'Norway', 'Serbia',
       'Germany', 'Indonesia', 'Czech Republic', 'Mongolia',
       'Puerto Rico', 'Poland', 'Republic of Korea', 'Uzbekistan',
       'Malaysia', 'Slovenia', 'Hungary', 'Cuba', 'France', 'India',
       'Denmark', 'Croatia', 'Ukraine', 'Oman', 'Argentina', 'Turkey',
       'Kazakhstan', 'Venezuela', 'Lithuania', 'Estonia', 'Colombia',
       'Azerbaijan', 'Peru', 'Pakistan', 'Thailand', 'Israel',
       'Philippines', 'Austria', 'Chinese Taipei', 'Bangladesh',
       'Afghanistan', 'Kosovo', 'Romania', 'Singapore', 'Belgium',
       'Bhutan', 'Algeria', 'Sri Lanka', 'Kyrgyzstan',
       'Bosnia and Herzegovina', 'Nepal', 'Refugee Olympic Team',
       'Ireland', 'Portugal', 'Qatar', 'Kuwait', 'Cyprus', 'Morocco',
       'Bahrain', 'Senegal', 'New Zealand', 'Chile', 'Guatemala',
       'Lebanon', 'Finland', 'Bulgaria', 'Iraq', 'Ecuador', 'Greece',
       'Albania', 'Latvia', 'Jordan', 'Yemen', 'Tunisia', 'Georgia',
       'Montenegro', 'Armenia', 'Malta', 'Canada', 'Republic of Moldova',
       'Brazil', 'North Macedonia', 'Aruba', 'Myanmar', 'Vietnam',
       'Nicaragua', 'Iceland', 'Saudi Arabia', 'Sweden',
       'United Arab Emirates', 'Jamaica', 'Dominican Republic',
       'Netherlands', 'South Africa', 'Nigeria', 'Sao Tome and Principe',
       'Samoa', 'Cook Islands', 'Mozambique', 'Belize', 'Ethiopia',
       'Eritrea', 'Trinidad and Tobago', 'Luxembourg', 'Costa Rica',
       'Paraguay', 'Namibia', 'Hong Kong, China', 'Rwanda',
       'Burkina Faso', 'Panama', 'Zambia', "Côte d'Ivoire", 'Honduras',
       'Mauritius', 'Eswatini', 'Uganda', 'Cameroon', 'Haiti',
       'Democratic Republic of the Congo', 'Tajikistan', 'Ghana', 'Kenya',
       'Guyana', 'Burundi', 'Botswana', 'Cape Verde', 'Somalia',
       'El Salvador', 'Antigua and Barbuda', 'Papua New Guinea',
       'Liechtenstein', 'Angola', 'Fiji', 'Bermuda',
       'Syrian Arab Republic', 'Vanuatu', 'Togo', 'Monaco', 'Andorra',
       'Mali', 'Gabon', 'Niger', 'Tonga', 'Suriname', 'Maldives',
       'Guinea-Bissau', 'Guam', 'Guinea', 'Bolivia', 'Zimbabwe', 'Chad',
       'Kiribati', 'Comoros', 'Uruguay', 'Sierra Leone', 'Palestine',
       'Sudan', 'Djibouti', 'Gambia', 'Malawi', 'Libya', 'Benin',
       'Seychelles', "Lao People's Democratic Republic", 'Madagascar',
       'Turkmenistan', 'Virgin Islands, US', 'Solomon Islands', 'Nauru',
       'American Samoa', 'Virgin Islands, British', 'Lesotho',
       'United Republic of Tanzania', 'Liberia', 'Bahamas', 'Dominica',
       'Grenada', 'Saint Lucia', 'Olympic Athletes from Russia',
       "Democratic People's Republic of Korea",
       'The Former Yugoslav Republic of Macedonia',
       'Democratic Republic of Timor-Leste', 'Korea Team',
       'Russian Federation', 'Ivory Coast',
       'Independent Olympic Athletes', 'Barbados', 'Cambodia',
       'Equatorial Guinea', 'Congo', 'South Sudan',
       'Refugee Olympic Athletes', 'Marshall Islands', 'Palau',
       'US Virgin Islands', 'Federated States of Micronesia',
       'Central African Republic', 'Cayman Islands', 'Brunei',
       'Saint Vincent and the Grenadines', 'British Virgin Islands',
       'Swaziland', 'Saint Kitts and Nevis', 'Tuvalu',
       'Netherlands Antilles', 'Serbia and Montenegro', 'Unified Team',
       'Czechoslovakia', 'Mauritania', 'Yugoslavia', 'Soviet Union',
       'Federal Republic of Germany',
       'German Democratic Republic (Germany)', 'Yemen Arab Republic',
       'Yemen Democratic Republic'], dtype=object)

In [102]:
#
def recode_countries(name):
    if name == "ROC":
        return "Russia"
    elif name == "Olympic Athletes from Russia":
        return "Russia"
    elif name == "Soviet Union":
        return "Russia"
    elif name == "Russian Federation":
        return "Russia"
    elif name == "Federal Republic of Germany":
        return "Germany"
    elif name == "German Democratic Republic (Germany)":
        return "Germany"
    elif name == "Republic of Korea":
        return "South Korea"
    elif name == "Democratic People's Republic of Korea":
        return "South Korea"
    elif name == "Korea Team":
        return "South Korea"
    elif name == "United States of America":
        return "United States"
    elif name == "People's Republic of China":
        return "China"
    else:
        return name

In [103]:
oly["country_test"] = oly["country_name"].apply(recode_countries)
oly.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,...,value_type,medal,year,game_end_date,game_start_date,game_location,game_name,game_season,game_year,country_test
0,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",False,1,Spain,ES,...,NaN,True,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,Spain
1,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,"[('Alessandra PERILLI', 'https://olympics.com/...",False,2,San Marino,SM,...,NaN,True,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,San Marino
2,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,"[('Madelynn Ann BERNAU', 'https://olympics.com...",False,3,United States of America,US,...,NaN,True,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,United States
3,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",False,4,Slovakia,SK,...,NaN,False,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,Slovakia
4,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",False,5,Japan,JP,...,NaN,False,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,Japan

In [104]:
oly = oly.rename(columns={"country_test":"country"})
oly.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,...,value_type,medal,year,game_end_date,game_start_date,game_location,game_name,game_season,game_year,country
0,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",False,1,Spain,ES,...,NaN,True,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,Spain
1,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,"[('Alessandra PERILLI', 'https://olympics.com/...",False,2,San Marino,SM,...,NaN,True,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,San Marino
2,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,"[('Madelynn Ann BERNAU', 'https://olympics.com...",False,3,United States of America,US,...,NaN,True,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,United States
3,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",False,4,Slovakia,SK,...,NaN,False,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,Slovakia
4,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",False,5,Japan,JP,...,NaN,False,2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,Japan

# 5) "Unified Team" Country

https://en.wikipedia.org/wiki/Unified_Team_at_the_1992_Summer_Olympics

In [114]:
oly = oly[oly["country"] != "Unified Team"]

# 6) True/False Column for if they won a medal

In [115]:
set(oly.medal_type)

{'BRONZE', 'GOLD', 'SILVER', nan}

In [121]:
recode = {
    np.nan : False,
    "BRONZE" : True,
    "SILVER" : True,
    "GOLD" : True
}

oly["medal"] = oly["medal_type"].map(recode)

# 7) Saving cleaned datatable as a csv file

In [120]:
oly.to_csv('oly.csv')